{% extends "layout2.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/admin1.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome to Dashboard</h1>
            <span class="subheading">Admin Panel</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        Welcome, Admin;
        

        <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body align="left">

<div class="container" align="left">
    <h1>To upload a new file: </h1>
    <a href="/edit/0"><button class= "btn btn-primary" >Add post</button></a>
    <a href="/logout"><button class= "btn btn-primary" >Logout</button></a>
    <hr>
    <h2>File Uploader</h2>
    <FORM action="/uploader" method="post" enctype="multipart/form-data">
      <input type="file" name="file1">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </FORM>
    <div>

      
        <hr>
    </div>
  <h2>Edit Posts</h2>
            
  <table class="table" align="left">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Title</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for post in posts %} 
    <tbody>
      <tr>
        <td>{{post.srno}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>
        <td><a href=/edit/{{post.srno}}><button class= "btn btn-primary" >edit</button></td></a>
        <td><a href=/delete/{{post.srno}}><button class=  "btn btn-primary" >delete</button></td></a>
      </tr>
         </tbody>
         {% endfor %}
  </table>
</div>

</body>
</html>

        <!-- <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Man must explore, and this is exploration at its greatest
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
        <hr> -->


        <!-- <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
            </h2>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Science has not yet mastered prophecy
            </h2>
            <h3 class="post-subtitle">
              We predict too much for the next year and yet far too little for the next ten.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Failure is not an option
            </h2>
            <h3 class="post-subtitle">
              Many say exploration is part of our destiny, but it’s actually our duty to future generations.
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on July 8, 2019</p>
        </div>
        <hr> -->
        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div> -->
      </div>
    </div>
  </div>

 
</body>

</html>
{% endblock %}